.formclass{
	width: 60%; 
	margin-left: auto; 
	margin-right: auto;
}

.jobpanel{
	width:70%; 
	margin-right: auto;
	margin-left: auto;
}

.ptitle{
	text-align: center;
}

.btcr{
	text-align: right;
}

.tile{
	text-align: center;
    border: black 1px solid;
    margin: 2px;
    padding: 10px;

}